In [1]:
import pandas as pd
dfs = pd.read_excel('airline.xlsx', sheet_name=None)
dfs

{'Sheet1':     YEAR       Y      W       R      L      K
 0   1948   1.214  0.243  0.1454  1.415  0.612
 1   1949   1.354  0.260  0.2181  1.384  0.559
 2   1950   1.569  0.278  0.3157  1.388  0.573
 3   1951   1.948  0.297  0.3940  1.550  0.564
 4   1952   2.265  0.310  0.3559  1.802  0.574
 5   1953   2.731  0.322  0.3593  1.926  0.711
 6   1954   3.025  0.335  0.4025  1.964  0.776
 7   1955   3.562  0.350  0.3961  2.116  0.827
 8   1956   3.979  0.361  0.3822  2.435  0.800
 9   1957   4.420  0.379  0.3045  2.707  0.921
 10  1958   4.563  0.391  0.3284  2.706  1.067
 11  1959   5.385  0.426  0.3856  2.846  1.083
 12  1960   5.554  0.441  0.3193  3.089  1.481
 13  1961   5.465  0.460  0.3079  3.122  1.736
 14  1962   5.825  0.485  0.3783  3.184  1.926
 15  1963   6.876  0.506  0.4180  3.263  2.041
 16  1964   7.823  0.538  0.5163  3.412  1.997
 17  1965   9.120  0.564  0.5879  3.623  2.257
 18  1966  10.512  0.586  0.5369  4.074  2.742
 19  1967  13.020  0.622  0.4443  4.710  3.564
 20  1968  15.261  0.666  0.3052  5.217  4.767
 21  1969  16.313  0.731  0.2332  5.569  6.511
 22  1970  16.002  0.831  0.1883  5.495  7.627
 23  1971  15.876  0.906  0.2023  5.334  8.673
 24  1972  16.662  1.000  0.2506  5.345  8.331
 25  1973  17.014  1.056  0.2668  5.662  8.557
 26  1974  19.305  1.131  0.2664  5.729  9.508
 27  1975  18.721  1.247  0.2301  5.722  9.062
 28  1976  19.250  1.375  0.3452  5.762  8.262
 29  1977  20.647  1.544  0.4508  5.877  7.474
 30  1978  22.726  1.703  0.5877  6.108  7.104
 31  1979  23.619  1.779  0.5346  6.852  6.874,
 'Sheet2': Empty DataFrame
 Columns: []
 Index: [],
 'Sheet3': Empty DataFrame
 Columns: []
 Index: []}